page-home {
  .less-equal{
    color:color($colors,secondary);
  }
  .greater{
    color:color($colors,danger);
  }
  .quick-action-item + .quick-action-item{
    margin-left: -1px;
  }
  .quick-action-item {
    height: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ececec;
  }
  .quick-action-item + .quick-action-item{
    margin-left: -1px;
  }

  .shortcut{
    text-align: center;
  }
  .shortcut ion-icon{
    font-size: 48px;
  }
  .shortcut div{
    color:color($colors,dark);
  }
  a{
    text-decoration: none;
  }
}
